--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0
torchvision==0.16.0

-f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.0_cu121.html
kaolin==0.15.0

numpy==1.24.1 
huggingface-hub==0.22.2
diffusers==0.24.0
accelerate
transformers==4.39.3
wandb
h5py
trimesh
matplotlib
opencv-python
smplx
timm
einops
ninja
gradio

git+https://github.com/tinyobjloader/tinyobjloader.git@v2.0.0rc8#subdirectory=python
git+https://github.com/NVlabs/nvdiffrast.git
